.menuitems{
    width: 80%;
    margin: 50px auto;
    padding-left: 100px;
    padding-right: 100px;
}

li{
    text-decoration: none;
    list-style-type: none;
    color: black;
    

    
}
li a{
    text-decoration: none;
    color: black;
}
.menuitems{
    position: relative;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}
li a :hover{
    color:red;
}
.crossicon{
    text-align: end;
    padding-top: 60px;
    padding-right: 20px;
}